.xterm-viewport {
    background-color: var(--background-darker) !important;
}

.xterm-viewport::-webkit-scrollbar {
    background-color: var(--background-lighter);
}

@media (max-height: 250px) and (min-height: 100px) {
    .body-head * {
        display: none;
    }
}


.inter-main {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    letter-spacing: -0.02em;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    color: var(--text);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    letter-spacing: -0.02em;
}

body {
    height: 100vh;
    overflow: hidden;
}

.terminal {
    background: var(--background-main);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.navbar {
    background: var(--background-darker);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    flex-shrink: 0;
    border-bottom: 1px solid var(--border);

    box-shadow: 5px 5px 50px 5px rgba(154, 37, 196, 0.05);
    z-index: 6;
}

.navbar-touch {
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    width: calc(100% - 120px);
    z-index: 999;
}

.navbar-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;
    max-height: 40px;
    user-select: none;
}

.navbar-left-logo img {
    height: 20px;
    width: auto;
    margin-left: 5px;
}

.navbar-left-title {
    display: flex;
    align-items: center;
}

.navbar-center {
    display: flex;
    align-items: center;
    max-height: 40px;
}

.navbar-center-progress {
    color: var(--muted-text);
    user-select: none;
    opacity: 0.5;
}

.navbar-right {
    display: flex;
    flex-direction: row;
    user-select: none;
    align-items: stretch;
    height: 40px;
}

.navbar-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    text-align: center;
    cursor: pointer;
}

.navbar-button svg {
    shape-rendering: geometricPrecision;
}

.navbar-button:hover {
    background: var(--background-lighter);
    filter: brightness(1.2);
}

.navbar-right-exit:hover {
    background: var(--error);
    filter: brightness(0.9);
}

.body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-top: 0.5em;
    margin-left: 10px;
    max-height: calc(100vh - 60px - 0.5em);
    min-height: 0;
}

.body-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.body-left {
    display: flex;
    flex-direction: row;

    overflow: hidden;
    width: 100%;
    flex: 1;
}

.body-plus {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    background: transparent;
}

.body-plus svg {
    background: transparent;
    cursor: pointer;
    color: var(--text);
    transition: 0.2s;
}

.body-plus svg:hover {
    filter: brightness(1.5);
}

.body-tabs {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;

    min-width: 0;
    flex: 1;
}

.body-tabs::-webkit-scrollbar {
    display: none;
}

.body-tab {
    background: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.2em;
    padding: 10px;
    margin-right: 0;
    margin-left: 10px;
    border-radius: 10px 10px 0 0;
    user-select: none;
    cursor: pointer;

    flex-shrink: 0;

    min-width: 190px;

    position: relative;
}

.body-tabs .body-tab:first-child {
    margin-left: 0;
}

.body-tab:not([active]):hover {
    background: var(--background-lighter);
}

.body-tab[active] {
    background: var(--background-darker);
    font-weight: bold;
}

.body-tab[active]::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    bottom: 0;
    left: -15px;
    background: radial-gradient(circle at 0 0,
            transparent 15px,
            var(--background-darker) 15.5px);
}

.body-tab[active]::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    bottom: 0;
    right: -15px;
    background: radial-gradient(circle at 100% 0,
            transparent 15px,
            var(--background-darker) 15.5px);
}

.body-tabs .body-tab:first-child:before {
    background: transparent;
}

.body-tab-close {
    display: flex;
    align-items: center;
    margin: 0 5px;
}

.body-navs {
    display: flex;
    flex-direction: row;
}

.body-navs-settings {
    height: 100%;
    margin: 0 0.4em;
}

.body-nav {
    display: flex;
    align-items: center;
}

.body-navs-settings svg,
.body-navs-ai svg {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: filter 0.3s, transform 0.7s ease-in-out;
}

.body-navs-settings svg:hover {
    filter: brightness(1.2);
    transform: rotate(90deg);
    filter: drop-shadow(0 0 0.75rem var(--cursor-color));
}

.body-navs-ai svg:hover {
    filter: brightness(1.2);
    filter: drop-shadow(0 0 0.75rem var(--cursor-color));
}



.body-main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 0;
}

.body-main-terminal {
    background: var(--background-darker);
    color: var(--text);
    flex-grow: 1;
    overflow: hidden;
    min-height: 0;
    position: relative;
}

.body-main-terminal #terminal {
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    bottom: 0.5em;
    right: 0.5em;
}

#smartButton {
    transition: filter 0.5s;
}

.menu {
    display: none;
}

.menu[active] {
    display: flex;
}

.ai-div {
    background: rgba(0, 0, 0, 0.5);
    display: none;
    position: absolute;
    inset: 0;
    z-index: 3;
}

.ai-input::placeholder {
    color: var(--muted-text);
}
.ai-center-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.ai-input-div {
    position: relative;
}
.ai-input {
    background: var(--background-main);
    color: var(--text);

    border: none;
    border-radius: 8px;

    padding: 1.5em;
    width: 70vw;
    font-size: 1em;
    padding-right: 100px;

    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);

    z-index: 5;
}
.ai-input:hover,
.ai-input:focus {
    outline: none;
}

.ai-button {
    background: var(--background-darker);
    color: var(--text);
    
    border: none;
    border-radius: 6px;

    padding: 10px;

    cursor: pointer;
    transition: 0.2s;

    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-35%, -50%);
}
.ai-button:hover {
    background-color: var(--background-lighter);
}